#powatag_marketing {
        color: #4d4d4f;
        font-family: din-bold, sans-serif;
        margin-bottom: 10px;
        font-size:16px;
    }

    #powatag_marketing a, #powatag_marketing a:visited {
        color: #4D81C2;
        text-decoration: none;
    }

    #powatag_marketing a:hover {
        text-decoration: underline;
    }

    #powatag_marketing h2, #powatag_marketing h3 {
        color: #58585B;
    }

    #powatag_marketing h2
    {
        font-size: 23px;
    }


    #powatag_marketing h2 .header-main {
        display: block;
        font-size: 42px;
        line-height: 42px;
        color: #4D81C2;
    }
    #powatag_marketing p {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    #powatag_marketing li {
    margin-left: 40px;
    margin-bottom: 1px;
    list-style: disc;
    }

    #powatag_marketing p, #powatag_marketing ul li
    {
        font-size:16px;
    }
    
    #powatag_marketing h2 .header-note {
        position: relative;
        bottom: 0.1em;
        display: block;
        margin-bottom: 1.25em;
        line-height: 80%;
        color: #A7A9AB;
    }


    #powatag_marketing .clear {
        clear: both;
    }

    #powatag_marketing .button-wrapper {
        text-align: center;
    }
    #powatag_marketing a.button_powa {
        display: inline-block;
        margin: 5px;
        padding: 10px 15px;
        color: #ffffff;
        background-color: #4D81C2;
        border-radius: 15px;
        font-weight: bold;
        font-size: 16px;
    }*/



    #powatag_marketing a,#powatag_marketing a:visited {
        color: #4D81C2;
        text-decoration: none;
    }

    #powatag_marketing a:hover {
        text-decoration: underline;
    }

    #powatag_marketing h2, #powatag_marketingh3 {
        color: #58585B;
    }

    #powatag_marketing h2 .header-main,
    #powatag_marketing h3 .header-main {
        display: block;
        font-size: 42px;
        color: #4D81C2;
    }

    #powatag_marketing h2 .header-note,
    #powatag_marketing h3 .header-note {
        position: relative;
        bottom: 0.1em;
        display: block;
        margin-bottom: 1.25em;
        line-height: 80%;
        color: #A7A9AB;
    }

    #powatag_marketing .clearfix {
        clear: both;
    }

    #powatag_marketing #container {
        margin: 1em 2em;
    }

    #powatag_marketing #header {
        margin-bottom: 30px;
    }

    #powatag_marketing  #logo {
        width: 280px;
        height: 85px;
        margin: 10px 0;
        background-image: url("http://powatag.com/template/resource/runtime/1275/g16/static/images/logo-desktop.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #powatag_marketing #logo h1 {
        display: none;
    }

    #powatag_marketing #powatag_content {
        padding: 10px 17px;
        /*background-color: #ebebeb;*/
        background-color: #f5f5f5;
    }

    #powatag_marketing #sidebar {
        float: left;
        width: 440px;
        height: 100%;
    }

    #powatag_marketing #sidebar h2 {
        font-size: 32px;
        color: #4D81C2;
    }

    #powatag_marketing #sidebar #features {
        margin-bottom: 30px;
    }

    #powatag_marketing #sidebar #features li {
        margin-bottom: 10px;
    }

    #powatag_marketing #sidebar .user-manual {
        font-size: 80%;
    }

    #powatag_marketing #main {
        margin-left: 450px;
        clear:initial;
        background: none;
        min-height: 540px;
    }

    #powatag_marketing #main #adventages li {
        padding-bottom: 5px;
    }

    #powatag_marketing a.button {
        display: inline-block;
        margin: 5px;
        padding: 10px 15px;
        color: #ffffff;
        background-color: #4D81C2;
        border-radius: 15px;
        font-weight: bold;
    }

    #powatag_marketing #main #register-wrapper {
        display: table;
        margin-top: 40px;
    }

    #powatag_marketing #main .register {
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
    }

    #powatag_marketing #main .register a {
        width: 110px;
        text-align: center;
        /*margin-left: 20px;*/
    }

    #powatag_marketing #main .questions {
        display: table-cell;
        vertical-align: middle;
        margin: 10px 5px 5px 20px;
        padding-left: 1em;
        border-left: 1px solid #c5c5c5;
        font-weight: bold;
        font-size: 80%;
    }